<h1>Dimensions partial</h1>

{{#each this.dimensions}}
    <button type="button" class="btn btn-filter btn-outline-default waves-effect" onclick="toggle_filter_button_state(this)">{{name}}</button>
{{/each}}