<div>
    <h3>Dimensions</h3>
    {{#each this.dimensions}}
        <button type="button" class="btn btn-filter btn-filter-dimension btn-outline-cyan waves-effect"
                onclick="toggle_filter_button_state(this)">{{name}}</button>
    {{/each}}
</div>
