<h1>Favourite Tools</h1>

{{#each this.favourites}}
    <div class="card fav-card">
        <div class="card-body">
            <h5 class="card-title">{{toolName}}</h5>
            {{rating}}
        </div>
    </div>
{{/each}}
