<div id="tool-map">
    <h3>Tool Map</h3>
    <div class="row">
        <div class="col-md-2 d-none d-md-block">
            Tool Name
        </div>
        {{#each this.dimensions}}
            <div class="col-md d-none d-md-block">{{name}}</div>
        {{/each}}
    </div>

    {{#each this.tools}}
        <div class="row">
            <div class="col-md-2 card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{toolName}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-10 d-none d-md-block card">
                <div class="card-body">
                    <div class="row">
                        {{#each mapView}}
                            <div class="col-md d-none d-md-block">
                                {{#each this}}
                                    {{name}}
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
