<div>
    <h3>Properties</h3>
    {{#each this.properties}}
        <button type="button" class="btn btn-filter btn-filter-property btn-outline-cyan waves-effect"
                onclick="toggle_filter_button_state(this)">{{name}}</button>
    {{/each}}
</div>
