#main-container {
    padding: 2em;
}

.info-row {
    padding-right: 2em;
}

#filter-col {
    padding-top: 2em;
}

#filter-keywords {
    margin-top: 5em;
    margin-right: 3em;
}

#dimension-filter {
    margin-top: 1em;
    margin-right: 3em;
}

#property-filter {
    margin-top: 1em;
    margin-right: 3em;
}

#fav-col {
    padding-top: 2em;
}

.fav-card {
    margin-top: 1em;
}

.tool-map {
    margin-top: 4em;
}

#tool-map {
    padding-left: 0;
}

.row-map-title {
    padding-left: 1em;
}

.map-card {
    margin-top: 1em;
}