#main-container {
    padding: 2em;
}

.info-row {
    margin-top: 1em;
}

.filter-row {
    margin-top: 3em;
}

#filter-col {
    padding-top: 2em;
}

#filter-keywords {
    margin-right: 3em;
}

#dimension-filter {
    margin-top: 1em;
    margin-right: 3em;
}

#property-filter {
    margin-top: 1em;
    margin-right: 3em;
}

#toolname-filter {
    margin-top: 1em;
    margin-right: 3em;
}

.btn-filter-toolname {
    display: none;
}

#fav-col {
    padding-top: 2em;
}

.fav-card {
    margin-top: 1em;
}

.tool-map {
    margin-top: 4em;
}

.row-map-title {
    padding-top: 1em;
    padding-left: 1em;
}

.map-card {
    margin-top: 1em;
}