#filter-col, #fav-col {
    padding: 2%;
}

#filter-keywords {
    margin-top: 3em;
}

#dimension-filter {
    margin-top: 1em;
}

#property-filter {
    margin-top: 1em;
}

.fav-card {
    margin-top: 1em;
}

#tool-map {

}