<!DOCTYPE html>
<html lang="en">
    {{> partials/head.hbs}}

    <body>
        {{> partials/header.hbs}}

        <h1>Information about Seamless Learning and the SL Tool Map</h1>

        {{> partials/scripts.hbs}}
    </body>
</html>