<!DOCTYPE html>
<html lang="en">
    {{> partials/head.hbs}}

    <body>
        {{> partials/header.hbs}}

        <div class="container-fluid" style="margin: 2%">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <h1>Seamless Learning Tool Map</h1>
                        This is a Seamless Learning Tool Map. It provides information about tool that can be used to
                        eliminate seams in learning environments. You can either browse through the map as a whole, or you can
                        filter it by selecting the filter buttons. In order to find the necessary filter buttons faster, you can
                        enter keywords into the search field. The three best rated tools can be seen on the right.
                    </div>

                    <div class="row md-form" style="margin-top: 1%">
                        <input type="text" id="filter_search" class="form-control" oninput="filter()">
                        <label for="filter_search" class="">Filter keywords</label>
                    </div>

                    <div class="row" style="margin-top: 1%">
                        {{> partials/map_dimensions_partial.hbs}}
                    </div>

                    <div class="row" style="margin-top: 1%">
                        {{> partials/map_properties_partial.hbs}}
                    </div>
                </div>

                <div class="col-sm-3">
                    {{> partials/map_favourites_partial.hbs}}
                </div>
            </div>

            <div class="row" style="margin-top: 1%">
                {{> partials/map_tool_partial.hbs}}
            </div>
        </div>

        {{> partials/scripts.hbs}}
    </body>
</html>