<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebars Test</title>
</head>
<body>
    <h1>Handlebars Test</h1>
    {{> partials/map_dimensions_partial.hbs}}
    {{> partials/map_properties_partial.hbs}}
    {{> partials/map_favourites_partial.hbs}}
    {{> partials/map_tool_partial.hbs}}
</body>
</html>