<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebars Test</title>
</head>
<body>
    <h1>Handlebars Test</h1>
    {{> map_dimensions_partial}}
    {{> map_favourits_partial}}
    {{> map_tool_partial}}
</body>
</html>