<!DOCTYPE html>
<html lang="en">
    {{> partials/head.hbs}}

    <body>
        <h1>Seamless Learning Tool Map</h1>

        <div class="md-form">
            <input type="text" id="filter_search" class="form-control" oninput="filter()">
            <label for="filter_search" class="">Filter keywords</label>
        </div>

        <div class="card">
            {{> partials/map_dimensions_partial.hbs}}
        </div>

        <div class="card">
            {{> partials/map_properties_partial.hbs}}
        </div>

        <div class="card">
            {{> partials/map_favourites_partial.hbs}}
        </div>

        {{> partials/map_tool_partial.hbs}}

        {{> partials/scripts.hbs}}
    </body>
</html>